
.error-404 {
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
  .page-title {
    padding-bottom: 20px;
    font-size: 110px;
    font-weight: bold;
    color: #6ab42f;
    line-height: 40px;
  }

  .error-meesage {
    font-weight: bold;
    color: #444;
    text-transform: uppercase;
  }

  .page-content {
    margin-top: 25px;
    h5 {
      line-height: 45px;
    }
  }

  .custom-search {

    input[type="search"] {
      border: 1px dashed #c2c2c2;
      padding: 10px 0px 10px 10px;
      width: 75%;
      margin: 20px 0;
      @include outline;

    }

    button {
      background: none;
      box-shadow: none;
      border: 1px solid #c2c2c2;
      padding: 14px 15px 16px 15px;
      color: #828282;
      margin-left: 5px;
      font-size: 16px;
      @include outline;

      @include hover;
    }
  }
  /*end of custom search*/
  .go-home {
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 10px 12px;
    margin: 15px 0;
    display: inline-block;
    color: #fff;
    background: #6ab42f;
    font-weight: 600;
    @include hover-r;

  }

}
