/*post excerpt*/
.post-excrept {
  width: 100%;
  text-align: center;
  padding-left: 0;
  position: relative;

  .post-time {
    position: absolute;
    height: 106px;
    width: 100px;
    background: $hover-color;
    padding: 10px;
    overflow: hidden;
    top: -65px;
    left: 50%;
    margin-left: -53px;
    z-index: 1000;
    .inner-div{
      border:1px solid #eee;

      .gl-post-time{
        font-family:'Roboto Slab', serif;
        line-height:30px;
        margin:10px auto;
        a{
          color: #fff;
          font-weight:600;
          font-size: 28px;
          text-decoration: none;
        }
      }
    }
  }
  .post-title {
    padding-top: 45px;
    margin-bottom: 20px;
  }

  .post-meta {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 18px 0;
    margin: 0 15% 40px;
    display: flex;
    justify-content: space-around;
    span {
      color: #444;
      top:6PX;
      a{
        padding: 0px;
        color: #444;
        font-size: 12px;
        margin:0px 5px;
        &:hover {
          color: $hover-color;
        }
      }
      &:after {
        content: '';
        padding-left: 0px;
      }
    }


  }
  .post-content {
    margin-top: 25px;
    //min-height: 75px;
  }

}
/*end of post excerpt*/

/*Password Protected*/
.post-password-required{
  .post-content{
    .post-password-form{
      p{
        input[name="post_password"]{
          padding:3px;
        }
        input[type="submit"]{
          padding:5px 20px;
          font-weight:500;
          box-shadow: none;
          text-shadow:none;
          background: $brand-primary;
          border:solid 1px #eee;
          color:#fff;
        }
      }
    }
  }
}
/*end of password Protected*/


/*Archive page single post css */
.tx-single-post-row{
  position: relative;
  margin-bottom:67px;
}

/*post image*/
.format-image,.has-post-thumbnail{
  .post-image-wrapper{
    padding: 12px;
    border: 1px solid #eee;
  }
  .post-image {
    display: block;
    width: 100%;
    vertical-align: top;
    //margin-top: 30px;
    overflow: hidden;
    img {
      max-width: 100%;
      transition: all 0.5s ease;
      &:hover {
        //transform: scale(1.2, 1.2);
      }
    }
  }/*end of post-image*/
}


/*
post format
format-standard
*/
.format-standard{
  table{
    border:solid 1px #eee;
    td,th{
      border:solid 1px #eee;
      padding:5px 8px;
    }
    th{
      a{
        font-size:$base-font + 1px;
        font-weight:bold;
        text-transform:initial;
      }
    }
  }
  ul{
    li{
      ul{
        margin-left:20px;
      }
    }
  }
  ol{
    li{
      ol{
        margin-left:20px;
      }
    }
  }
  img {
    max-width: 100%;
    transition: all 0.5s ease;
    &:hover {
      transform: scale(1.2, 1.2);
    }
  }
  .post-excrept{
    .post-content{
      img {
        max-width: 100%;
        transition: all 0.5s ease;
        &:hover {
          transform: scale(1, 1);
        }
      }
      .page-links{
        margin:20px 0px;
        font-weight:bold;
        //a{
        //  font-weight:bold;
        //}
      }
    }
  }
}
/*
post formate
format-image
*/
.format-image{
  .wp-caption{
    border:none;
  }
  .post-image{
    border:solid 1px #eee;
    padding:50px;
    .post-content{
      figure{
        margin: 0 auto;
      }
    }
  }
}




.format-standard:not(.has-post-thumbnail) {
  .tx-single-post{
    .post-excrept {
      border: none;
      .post-time {
        left: 53px;
      }
    }

    .post-excrept .post-title {
      //position: absolute;
      //top: -90px;
      //left: 136px;
    }
  }

}
.format-quote,.format-link,.format-aside,.page,.format-standard:not(.has-post-thumbnail){
  .tx-single-post-row {
    margin-top: 130px;
  }

  .post-content{
    padding:0 25px;
    padding-left:0px;
  }
}
.post-link {
  padding-bottom: 25px;
  a {
    color: $hover-color;
    font-size: 16px;
    font-weight:bold;
    text-decoration: none;

    &:hover {
      color: #000;

    }
  }

}
/*post formant*/
/*gallery*/
.format-gallery{
  .owl-carousel-left,
  .owl-carousel-right {
    position: absolute;
    top: 42.5%;
    color: #fff;
    background-color: #eee;
    height: 58px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 32px;

    i{
      margin-top:10px;
      color: $hover-color;
    }

  }
  .owl-carousel-right {
    right: 0;
  }
  .gallery-caption {
    position: absolute;
    color: #fff;
    background-color: rgba(106, 180, 47, 0.53);
    bottom: 74px;
    display: block;
    text-align: center;
    padding: 10px;
    width: 100%;
  }


  .post-image{
    padding:50px;
    border:solid 1px #eee;
  }
}

/*post format audio and video*/
.format-video,.format-audio{
    .post-image {
      width:100%;
      border: 1px solid $border-color;
      padding: 50px;
    }

  .post-time{
    top:-50px;
  }

  embed,
  iframe,
  object {
    width: 100%;
  }
}
.video-embed-container {
  position: relative;
  padding-bottom: 56.2%;
  height: 0;
  overflow: hidden;
}
.video-embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.audio-embed-container iframe {
  width: 100%;
  height: 100%;
  margin-bottom: -7px;
}
.media .media-left img {
  max-width: inherit;
}
embed,
iframe,
object {
  max-width: 100%;
}

/*
Format image
*/

.format-image{
    .post-image {
        p{
          margin-bottom:0;
        }
    }

    figcaption.wp-caption-text{
      color: $black-primary;
      bottom: 74px;
      display: block;
      text-align: center;
      padding: 10px;
      width: 100%;
    }

    .post-content{
      p{
        margin:20px 0px;
      }
    }
}

/*link post format*/
.format-link{
  .post-content{
    a{
      display: block;
      font-size: 22px;
      color: #444;
      font-weight: 500;
      line-height: 50px;

      @include hover;
      &:before{
        font-family: FontAwesome;
        content: "\f0c1";
        padding-right: 20px;
      }
    }
  }


}
/*format quote*/
.format-quote{
  .post-content{

    blockquote{
      p{
        &:before{
          font-family: FontAwesome;
          content: "\f10d";
          font-size: 25px;
          padding-right: 20px;
          display: block;
        }
        font-size: 22px;

      }
      cite {
        display: block;
        margin-top: 25px;

        a{
          color: $font-color;
          @include hover;
        }
      }
    }

  }
}
/*blog single page*/

.format-audio,.format-video,.format-image,.format-gallery{
  .tx-single-post-sp{
    .post-image {
      width: 100%;
      border: none;
      padding: 0;
    }
    .post-excrept {
      border: 1px solid #eee;
      margin-bottom: 50px;
    }

  }
}
.tx-single-post{
  .post-excrept{
    text-align: left;
    .post-time{
      left: 66px;
    }
    //padding-top: 45px;
    .post-meta{
     margin:35px 4% 15px 0px;
    }
  }
  .gl-post-time {
    text-align: center;
  }
}
.format-standard:not(.has-post-thumbnail),.format-link,.format-quote {
  margin-top: 66px;
}

.tx-single-post-row,.tx-single-post,.tx-single-post-sp{
  position: relative;
  .sticky-post{
    position: absolute;
    right: 13px;
    top: -5px;
    width: 50px;
    height: 80px;
    background: $hover-color;
    text-align: center;
    line-height: 80px;
    color: white;
    z-index: 30;
    .triangle{
      &:before{
        content:'';
        position: absolute;
        right:-5px;
        top:0;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $hover-color;
      }
    }
  }
}
.gl-1-column{
  .comments-link {
    left: 356px !important;
  }
}

.container article:first-child .post-image {margin-top: 0;}


.widget-area .widget:first-child .widget-title {
  padding-top: 0;
  margin-top: 0;
}

/*search page*/
.vc_desktop,.vc_mobile{
  .tx-search-page{
    margin:100px 0;

    .page-header {
      border: 1px solid #eee;
      margin-top: 0;
      padding-top: 20px;
      text-align: center;
      text-transform: uppercase;

    }

  }
}

/*
post content
*/
.post-content{
  p{
    margin:20px 0px;
  }

}

.tx-single-post-row{
  .post-excrept{
    .post-content{
      .page-links{
        margin:20px 0px;
      }
    }
  }
  .post-title{
    h3{
      font-size:22px;
    }
  }
}

.tx-single-post{
  position: relative;
  text-align: center;
  ul, ol{
    li{
      padding-left:25px;
      list-style-type: none;
    }
  }
  .post-title{
    h3{
      font-size:22px;
    }
  }
}


.sticky-post-no-thumbnail{
  position: absolute;
  left:0;
  right:0;
  top:0;
  font-size: 18px;
  color:#306705;
  text-align: center;
}