/*
end of recoded
*/

.entry-image {
  overflow: hidden;
  img {
    transition: all 0.4s ease-in;

    &:hover {
      transform: scale(1.5) rotate(10deg);
    }
  }
}

.entry-readmore {
  font-weight: bold;
  margin-top: 10px;
}

.vc-blog {

  .entry-readmore {
    a {
      color: $hover-color;
      margin-top: 20px;
      display: block;
      &:hover {
        text-decoration: none;
      }
    }

  }
  .entry-title {
    a {
      color: $font-color;
      padding: 20px 0px 5px;
      display: block;

      &:focus, &:hover {
        color: $hover-color;
        text-decoration: none;
        outline: none;

      }
    }

  }
  figure.entry-image {

    img {
      width: 100%;
      max-height: 270px;

    }

  }
}

.entry-title {
  font-weight: bold;
  color: $font-color;
  a {
    color: $font-color;

    &:hover {
      color: $hover-color;
      text-decoration: none;
    }
  }

}

.tx-single-blog-share {
  background: $hover-color;
  color: #fff;
  margin: 50px 0;
  h5 {
    font-weight: 600;
    line-height: 34px;
    font-size:$base-font + 3px;
  }

  .ar-social-share {
    float: right;
  }
}

.ar-social-share a {
  display: inline-block;
  padding: 15px 10px;
  font-size: 18px;
  color: #fff;
  transition: all 0.3s ease-in;

  &:hover {
    background: #fff;
    color: $hover-color;
  }
}

/*Author Bio css*/
.author_bio_section {
  background: none repeat scroll 0 0 #F5F5F5;
  padding: 15px 30px 10px 30px;
  //border: 1px solid $brand-primary;
  margin: 40px 0 0;
  text-align: left;

}
.post-content{
  footer.author_bio_section{
    p{
      margin:5px;
    }
  }
}

.author_details {
  margin: 30px 0;
}

.author_name {
  font-size: 16px;
  font-weight: bold;
}

.author_links a {
  color: #6ab42f !important;
  font-size: 14px !important;
  text-decoration: none;

  &:before {
    content: "" !important;
    padding: 0 !important;
  }
}

.author_details img {
  border: 2px solid $brand-primary;
  border-radius: 50%;
  float: left;
  margin: 0 10px 10px 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pagination {
  li {
    display: inline-block;
    margin-left: 12px;
    a {
      color: $font-color;
      border-top-left-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
      font-weight: 600;
      &:hover {
        background: $hover-color;
        border: 1px solid $hover-color;
        color: #fff;
      }
    }
  }
  .active {
    a {
      background: $hover-color;
      border: 1px solid $hover-color;
      font-weight: 600;
      &:active, &:focus, &:hover {
        background: $hover-color;
        border: 1px solid $hover-color;
      }

    }

  }
}

.post-navigation {
  &:after, &:before {
    @include clear-both;
  }
}

.nav-links div {
  max-width: 50%;
}

.post-nav {
  border: 1px solid $border-color;
  background-color: rgba(255, 0, 0, 0);
  padding: 10px 20px;
  transition: all 0.3s ease-in;

  a {
    color: $font-color;
    font-weight: 500 !important;
    padding: 0;
    text-decoration: none;
  }

  &:hover {
    background: $hover-color !important;
    a {
      color: #fff !important;
    }

  }

}

.nav-links .nav-previous a::before,
.tribe-events-sub-nav .nav-previous a::before,
.nav-links .tribe-events-nav-previous a::before,
.tribe-events-sub-nav .tribe-events-nav-previous a::before {
  font-family: FontAwesome;
  content: "\f060";
  padding-right: 7px;
}

.nav-links .nav-next a::after,
.tribe-events-sub-nav .nav-next a::after,
.nav-links .tribe-events-nav-next a::after,
.tribe-events-sub-nav .tribe-events-nav-next a::after,
.nav-links .tribe-events-nav-right a::after,
.tribe-events-sub-nav .tribe-events-nav-right a::after {
  font-family: FontAwesome;
  content: "\f061";
  padding-left: 7px;
}
