/*Form Style*/
#reply-title {
  font-weight: 600;
  padding-bottom: 25px;
}

#respond {
  input:not([disabled]):not([type="submit"]), textarea#comment {
    border: none;
    box-shadow: none;
    background: #f0f0f1;
    font-size: 14px;
    border-radius: 0;
  }
  textarea#comment {
    padding: 10px;
  }
  input:not([disabled]):not([type="submit"]) {
    height: 45px;
  }
}

span#email-notes {
  font-size: 13px;
}

#submit {
  color: #fff;
  box-shadow: none;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  background: #6ab24f;
  font-weight: 600;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;

  &:hover {
    @include hover
  }
}

/*end of Form style*/


b.fn {
  text-transform: capitalize;
  font-size: 18px;
}

span.says {
  color: #6ab42f;
  font-weight: bold;
}


#comments {
  margin-top: 50px;
}


/*
new coded
*/
.comments-area{
  h3.comments-title{
    font-size:22px;
  }
  .comment-list{//ol
    li.comment{
      list-style-type: none;
      padding:20px 0px;
      /* comment wrapper */
      article.comment-body{
        position: relative;
        .reply{
          position: absolute;
          top: 80px;
          left: 23px;
          background:$brand-primary;
          color:$white;
          padding: 0px 10px;
          font-size: 12px;
          line-height: 19px;
          a{
            color:$white;
          }
        }
      }
      /*comment heder part*/
      .comment-meta{
        margin-bottom:12px;
        position: relative;
        .comment-author{
          img{
            margin-right:10px;
          }
        }
        .comment-metadata{
          position: absolute;
          top:0;
          left:115px;
        }
      }
      /*comment content*/
      .comment-content{
        margin-top:20px;
        margin-left:35px;
        ul, ol{
          li{
            list-style-type: none;
            padding-left:20px;
          }
        }
      }
      /*comment reply*/
      .comment-respond{
        #reply-title{
          padding:0px;
        }
      }
    }
    table{
      border:solid 1px #eee;
      td,th{
        border:solid 1px #eee;
        padding:5px 8px;
      }
      th{
        a{
          font-size:$base-font + 1px;
          font-weight:bold;
          text-transform:initial;
        }
      }
    }
  }
  ol.comment-list{
    li{
      list-style-type: none;
    }
  }
  li.parent{
    ol.children{
      margin-left:35px;
      //li{
      //  margin-left:35px;
      //}
    }
  }
}