
#footer {
  background: #292929;
  padding-top: 50px;
}

#sub-footer {
  background: #373737;
  padding: 5px 0;
  .footer-menu {
    li {
      border: none;
      display: inline-block;
      width: auto;
      a {
        color: #fff;
        padding-right: 10px;
        text-transform: uppercase;
        transition: all 0.5s ease;
        font-size: 12px;
        font-weight: bold;
        &:hover {
          background: none;
          color: $hover-color;
        }
        &:first-child {
          padding-left: 0;
        }
        &:before {
          content: none;
        }
      }
    }

  }
  /*end of footer-nav-menu*/

  .gl-copy-right {
    padding: 15px 0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
  }
}

.footer-bootom {
  padding-top: 30px;
}

