/*
--------------------------------------
Recoded
Greenland Default
.greenland-breadcrumb
--------------------------------------
*/

// global class
.vc_desktop, .vc_mobile {
  #content {
    margin: 0px;
  }

  .tx-h2-min-height {
    min-height: 0px;

  }
}

.vc-service {
  margin-bottom: 50px;
}

#content {
  margin: 100px 0;
}

textarea {
  resize: none;
}

.clear-fix {
  @include clear-both;
}

.pl-0 {
  padding-left: 0;
}

.mt-30 {
  margin-top: 30px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.img-hover-animation {
  max-width: 100%;
  padding: 6px;
  transition: all 0.5s ease;

  &:hover {
    transform: scale(1.2, 1.2) rotate(7deg);
  }
}

/*contenat area*/
.content-area {
  padding: 10px 0;
}

.vc_transform {
  .content-area {
    padding: 0;
  }
}

.page-title {
  padding-bottom: 20px;
}

.pt-50 {
  padding-top: 50px;
}

blockquote {
  border-left: none;
}

.product-price, .product-title, .gl-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  text-transform: capitalize;
  color: #444;
}

/*faq section classs*/
.faq-1 {

  .vc_toggle_content {
    padding: 15px 5px 25px 10px !important;
  }

  .vc_toggle_title {
    border-bottom: 1px solid #eee;
    padding-bottom: 60px;
    height: 40px;
    i.vc_toggle_icon {
      top: 18px !important;
      border-color: #6ab24f !important;
      &:after, &:before {
        background-color: #6AB42F !important;
      }
    }

    h4 {
      font-size: 17px;
      font-weight: bold;
      line-height: 38px;
    }
  }

  .vc_toggle_title:hover .vc_toggle_icon {
    background-color: #6ab24f !important;
    border-color: #6ab24f !important;
    &:after, &:before {
      background-color: #fff !important;
    }
  }

}

.faq-1.vc_toggle_active .vc_toggle_title .vc_toggle_icon {
  background-color: #6ab24f !important;
  border-color: #6ab24f !important;
  &:after, &:before {
    background-color: #fff !important;
  }
}

/*faq with accordian class*/
.faq-with-acordian {
  margin-bottom: 40px;

  .wpb_content_element {
    margin: 20px 0 !important;
  }
  .ui-icon {
    top: 1.2em !important;
  }
  a {
    font-size: 16px;
    color: #444;
    font-weight: bold;
    border: 1px solid #eee;
    padding: 1em !important;
  }
  i {
    color: $hover-color;
  }
}

/***************************************Modal******************************************************/
.slide-body {
  .widget {
    margin: 0;
    padding: 0;
  }
}

/**************************************call to action*****************************************************/

.call-to-action {
  .call-to-action-title {
    color: $font-color;
    transition: color 0.4s ease-in-out;
  }
  .call-to-action-image {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;

  }
  &:hover {
    .call-to-action-image {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    .call-to-action-title {
      color: $hover-color;
    }
  }

}

/*************************************Greenland button style********************************************/
.gl-block {
  display: block;
}

.greenland-button-style-1 {
  border: 1px solid $hover-color;
  padding: 10px 16px;
  background: $hover-color;
  color: $white;
  font-weight: bold;
  transition: all 0.3s ease-in;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  text-transform: capitalize;
  //font-weight:300;
  @include hover-r;
}

/*fqq*/

/* Contact Form Style 1 */
.greenland-contact-form-style-1 {
  label {
    color: $font-color;
    padding-left: 5px;
  }
  input:not([type="submit"]), input[type="text"], input[type="number"], textarea {
    border: none;
    background: #eee;
    height: 57px;
    outline: none;
    padding: 0 10px;
    box-sizing: border-box;
    font-weight: 500;
    color: #6AB42F;
    font-size: 18px;
    width: 100%;
  }
  textarea {
    height: auto;
    padding: 10px;
  }
  .greeland-single-input {
    box-sizing: border-box;
  }
  .greenland-full-width {
    margin-bottom: 25px;
  }

}

/*end of style 1*/
.greenland-contact-form-style-2 {
  label {
    color: $font-color;
    padding-left: 5px;
  }
  input:not([type="submit"]), input[type="text"], input[type="number"], textarea {
    border: 1px solid #eee;
    height: 57px;
    outline: none;
    padding: 0 10px;
    box-sizing: border-box;
    font-weight: 500;
    color: #6AB42F;
    font-size: 14px;
    width: 100%;
  }
  textarea {
    height: auto;
    padding: 10px;
  }
  .greeland-single-input {
    box-sizing: border-box;
  }
  .greenland-full-width {
    margin-bottom: 25px;
  }

}

/*end of style 2*/

.greeland-float-2 {
  margin: 25px 0;
  .greeland-single-input {
    float: left;
    width: 50%;
    padding: 0 15px;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }

  }

  &:before, &:after {
    @include clear-both;
  }
}

/*submit button style 1*/
.greenland-contact-button-style-1 {
  background: #6AB42F;
  height: 50px;
  padding: 0px 25px;
  color: #fff;
  border: none;
  outline: none;
  font-weight: 600;
  border: 1px solid $hover-color;
  @include hover-r;
  border-radius: 3px;
  transition: all 0.3s ease-in;
}

/*submit button style 2*/
.greenland-contact-button-style-2, .greenland-contact-button-style-2:focus {
  border: 1px solid #eee;
  height: 50px;
  padding: 0px 25px;
  color: #6AB42F;
  outline: none;
  background: none;
  font-weight: 600;
  @include hover;
  border-radius: 3px;
  transition: all 0.3s ease-in;
}

/*Selection chosen Drop Down*/
.chosen-container-single .chosen-single {
  background: #f4f4f4;
  border: 1px solid rgba(162, 156, 156, 0.41);
  box-shadow: none;
  border-radius: 0;
  height: 40px;
  padding: 9px 0 0 8px;
  font-weight: 600;
}

.chosen-container ul.chosen-results li.highlighted {
  background-color: $hover-color;
}

.chosen-container-single .chosen-single div {
  top: 6px;
}

@include selection($white, $hover-color);

/*shortcode tx popup css*/

.tx-popup {
  outline: none;
  a {
    font-size: 36px;
    text-decoration: none;
    color: $white;
  }
  i {
    font-size: 80px;
    &:focus {
      outline: none;
    }
  }

}

/*coming-soon*/
.coming-soon {
  .greenland-countdown {
    margin-left: 31%;
    //display: flex;
  }

  .mailchimp {
    margin-left: 17%;
    margin-right: 10%;
  }
  #si_email {
    width: 60%;
  }
  #gl-subscribe {
    width: 25%;
  }
  .notification .gl-message {
    color: #fff;
  }
  .gl-message {
    color: #fff;
  }

}

.socials-icon {
  li {
    a {
      color: #fff;
    }
  }
}

/*end of social-icon*/

/*****************************greenland gallery filter*******************************/
.greenland-filter {
  .vc_grid-filter {
    .vc_grid-filter-item {
      margin: 50px 3px !important;
      padding: 10px 20px !important;
      font-weight: 500 !important;
      font-size: 16px !important;
    }
  }

}

/***************************************TItle font*****************************************/
.gl-title-txt {
  padding: 10% 0;
  text-align: center;
  color: #fff;
}

.greenland-title {
  font-size: 72px;
  line-height: 76px;
  text-align: center;

  margin: 0;
}

.greenland-subtitle {
  letter-spacing: 2px;
}

/*************************************Home 2 grid*********************************************/
/*home 2 gird*/
.home2-grid .vc_grid-filter {
  width: 30%;
  float: left;
  margin-top: 25%;
}

.home2-grid .vc_grid.vc_row.vc_grid-gutter-30px.vc_pageable-wrapper.vc_hook_hover {
  width: 67%;
  float: right;
  min-height: 610px;
}

.home2-grid .vc_grid-filter li {
  width: 100%;
  display: block;
  text-align: left;
  border-bottom: 1px solid #eee;
  padding: 6px 10px !important;
  border-radius: 0 !important;
  font-weight: bold;
  color: #444;
}

.home2-grid .vc_grid-filter li.vc_active, .home2-grid .vc_grid-filter li:hover {
  background: none !important;

}

.home2-grid .vc_grid-filter li.vc_active > span, .home2-grid .vc_grid-filter li:hover > span {
  color: #6ab42f !important;
}

.portfolio-text {
  position: absolute !important;
}

.home2-grid .vc_grid-owl-dot.active:before {
  background: #6ab42f;
}

.home2-grid .vc_grid-owl-dot:before {
  content: "<";
  font-size: 35px;
  display: block;
  background: #eee;
  margin: 10px;
  width: 50px;
  height: 40px;
  padding-top: 10px;
}

.home2-grid .vc_grid-owl-dot:last-child:before {
  content: ">";
}

.home2-grid .vc_grid-owl-dot > span {
  display: none !important;
}

.home2-grid .vc_grid-owl-dots {
  position: absolute;
  bottom: 20px;
  left: -166px;
}

.home2-grid .vc_grid-btn-load_more a {
  border: 1px solid $hover-color !important;
  background: $hover-color;
  color: $white !important;
  font-weight: bold;
  border-radius: 3px;
  transition: all 0.3s ease-in;
  &:hover {
    background: $white !important;;
    color: $hover-color !important;
    text-decoration: none;
    cursor: pointer;
  }
}

/*back to top*/
/*back to top button*/

.back-to-top {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
}

.greenland-bt {
  background: $hover-color;
  border: none;
  border-radius: 3px;
  color: #fff;
  width: 40px;
  height: 40px;
  padding-top: 7px;

  &:focus, &:active, &:hover, &:focus &:active &:hover, &:active &:hover, &:focus &:active {
    background: $hover-color;
    outline: none;
  }
}

/*end of aback to top*/

//home3 counter

.home3-counter {
  text-align: center;
  h1 {
    margin-bottom: 0;
    line-height: 35px;
  }

  h2 {
    margin-top: 0;
    font-size: 16px;
  }

}

/*
--------------------------------------
Greenland Default
Recoded
--------------------------------------
*/
a {
  text-decoration: none;
  color: $title-color;
  &:Hover {
    text-decoration: none;
  }
}
body{
  .tx-site-container{
    background:white;
  }
}

/*
Greenland Default Breadcrumb
*/
.greenland-breadcrumb {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  .greenland-breadcrumb-wrapper {
    padding: 0;
    .greenland-title {
      font-size: $base-font * 4;
      line-height: 1.3;
    }
    .greenland-breadcrumb-link {
      margin: 0;
      a {
        color: $white;
      }
    }
  }

}

/*
-------------------------
.slider1-btn-1
-------------------------
*/
.gl-slider-btn-white {
  display: inline-block;
  padding: 15px 30px !important;
  background: $white;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: $black-primary;
  &:hover {
    background: $white;
    color: $black-primary;
  }
}

/*
-------------------------
.tx-search-page
-------------------------
*/
.tx-search-page {
  button.search-submit {
    padding: 12px 12px 15px 12px;
    font-size: $base-font + 3px;
  }
}

/*
Visible only in small device
*/
@media(min-width: 992px) {
  .greenland-visible-xs-991 {
    display: none;
  }
  .greenland-visible-xs-768 {
    display: none;
  }
}

@media(max-width: 991px) {
  .greenland-visible-xs-991 {
    display: inline-block;
    text-align:right;
    padding-right:0px;
  }
  .greenland-visible-xs-768 {
    display: inline-block;
    text-align:right;
    padding-right:0px;
  }
}

@media(min-width: 768px) {
  .greenland-visible-xs-768 {
    display: none;
  }
}

@media(max-width: 767px) {
  .greenland-visible-xs-768 {
    display: inline-block;
    text-align:right;
    padding-right:0px;
  }
}

/*
heading default styling
*/
h1{
  font-size:48px;
}
h2{
  font-size:28px;

}
h3{
  font-size:22px;

}
h4{
  font-size:18px;

}
h5{
  font-size:16px;

}
h6{
  font-size:13px;

}