/*
--------------------------------
.greenland-main-menu
.greenland-header-1
--------------------------------
*/

//header
.header-1-row {
  display: flex;
  align-items: center;
}

.top-header {
  background: $hover-color;
  .social-link, .address {
    list-style: none;
    padding: 0px;
    margin: 0px;
    li {
      display: inline-block;
      font-size: $base-font - 1px;
      padding: 15px 12px;
      font-weight: 500;
      color: #fff;

      i {
        padding-right: 4px;
        font-size: 14px;
      }

      a {
        color: #fff;
      }
    }
    li:first-child {
      padding-left: 0;
    }
  }
  .social-link {
    text-align: right;
    li {
      padding: 15px 6px;
      i {
        padding-right: 0px;
      }
      .fa-twitter {
        &:hover {
          color: $twitter;
        }
      }
      .fa-facebook-square {
        &:hover {
          color: $facebook;
        }
      }
      .fa-skype {
        &:hover {
          color: $skype;
        }
      }
      .fa-linkedin-square {
        &:hover {
          color: $linkedin;
        }
      }
      .fa-youtube {
        &:hover {
          color: $youtube;
        }
      }

    }

  }
  /*
  --------------------------
  New Coded
  ---------------------------
  */
  .Header-social {
    li {
      padding: 0;
      a {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 32px;
        text-align: center;
        border: solid 1px $white;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 12px;
        &:hover {
          color: $white !important;
        }
      }
    }
  }
}

//end of top-header

.search-bar {
  padding: 40px 0;
  .gl-logo {
    text-align: center;
  }

  .custom-search {
    input[type="search"] {
      border: 1px dashed #c2c2c2;
      padding: 7px 0px 5px 10px;
      @include outline;
    }

    button {
      background: none;
      box-shadow: none;
      border: 1px solid #c2c2c2;
      padding: 12px;
      color: #828282;
      margin-left: 5px;
      font-size: 16px;
      @include outline;
      @include hover;
    }
  }

  .gl-cart {
    &:after, &:before {
      content: '';
      display: block;
      clear: both;
    }

    .cart-total {
      float: left;
      border: 1px dashed #828282;
      padding: 6px 10px;
      font-size: 14px;
      color: #777;
    }

    .cart-contents {
      border: 1px solid #c2c2c2;
      padding: 6px 12px;
      color: #828282;
      margin-left: 5px;
      float: left;
      font-size: 14px;
      position: relative;
      cursor: pointer;
      transition: all 0.3s ease-in;

      &:hover {
        color: $hover-color;
      }

      span.product-count {
        position: absolute;
        top: -8px;
        right: -8px;
        border: 2px solid #728f1b;
        width: 24px;
        height: 24px;
        line-height: 24px;
        border-radius: 50%;
        background: $hover-color;
        color: #fff;
        text-align: center;
        font-size: $base-font - 1px;
      }
    }

  }
  @media(max-width: 767px) {
    .container{
      padding: 0px 7px;
    }
  }

}

//end of search

.gl-woo-header-cart {
  position: relative;
}

#gl-woo-cart-modal {

  position: absolute;
  z-index: 999;
  right: 0;
  background: #fff;
  padding: 15px;
  width: 100%;
  top: 52px;
  border: 1px solid #EFEFEF;
  width: 33%;
  display: none;
  margin-right: 15px;

  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    &:hover {
      background: none;
    }

  }

  .cart-contents {
    font-size: 18px;
    text-transform: uppercase;
    color: $hover-color;
  }

  .cart-total {
    font-size: 22px;
    padding-left: 30px;
  }
  .remove {
    width: 16px !important;
    height: 16px !important;
    font-size: 11px !important;
    padding: 3px 1px 3px 0px !important;
    top: 10px !important;
    left: 7px !important;
    &:before {
      content: '';
      padding-right: 0px;
    }
    &:hover {
      margin-left: 0;
    }
  }

  .mini_cart_item {
    height: 75px !important;
    a {
      &:before {
        content: '';
        padding-right: 0px;
      }

    }

    &:before {
      content: '';
      padding-right: 0px;
    }
  }

}

/*header 2.....................style*/
.header-2-menu {
  position: absolute;
  width: 100%;
  z-index: 1000;
  top: 65px;

  #gl-woo-cart-modal {
    top: 94px;
    width: 61%;
    margin: 0 auto;
    position: relative;
  }
  .cart-contents {
    @include hover-r;
  }

  .logo {
    padding: 0px;
    text-align: center;
    img {
      width: 100%;
    }
  }
  .padding-top {
    padding: 25px 0px;
  }
  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    padding: 20px 15px;
  }
  #mega-menu-wrap-primary #mega-menu-primary.mega-no-js li.mega-menu-item:hover > ul.mega-sub-menu, #mega-menu-wrap-primary #mega-menu-primary.mega-no-js li.mega-menu-item:focus > ul.mega-sub-menu, #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu, #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
    margin-top: 38px;
  }

  ul#mega-menu-primary > li:first-child a {
    padding-left: 15px !important;
  }

  .search-form {
    position: absolute;
    right: 20px;
    top: 1px;
  }

  .search-field {
    background-color: transparent;
    background-image: url(http://api.ning.com:80/files/dr2jDpSXWFhyuoGJ4YR5Fu-PwuqLz70YxRaUcpdKNxf2HI5ECzddyx3NHuPz-MB4ujGS4rEtdtS-aQoFlQrtv*XwVOu*AvC8/searchicon.png);
    background-position: 18px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    border: none;
    cursor: pointer;
    padding: 0 0 0 37px;
    position: relative;
    -webkit-transition: width 400ms ease, background 400ms ease;
    transition: width 400ms ease, background 400ms ease;
    width: 0;
  }

  .search-field:focus {
    background-color: #fff;
    border: 2px dashed $border-color;
    cursor: text;
    outline: 0;
    width: 230px;
  }

  .search-submit {
    display: none;
  }

  input[type="search"] {
    -webkit-appearance: textfield;
  }

}

/*end of header-2-menu*/

/*HOME 2*/

/*END OF HME 2*/
.h2-menu {
  background: #fff;
  padding-left: 0;
}

.tx-h2-min-height {
  min-height: 100px;
}

.more {
  button {
    border: none !important;
    font-weight: bold;
    font-size: 18px !important;

  }
}

/*header background*/
.header_bg {
  width: 100%;
  height: 250px;
}

input[type="search"] {
  border: 1px dashed #c2c2c2;
  padding: 8px 0px 8px 10px;
  @include outline;
}

button {
  background: none;
  box-shadow: none;
  border: 1px solid #c2c2c2;
  padding: 12px 15px 13px 15px;
  color: #828282;
  margin-left: 5px;
  font-size: 16px;
  @include outline;

  @include hover;
}

.ex-btn {
  margin-right: 0;
}

/*
--------------------------------
.greenland-main-menu
.greenland-header-1
--------------------------------
*/
/*
header 1
logo-search-cart
*/
.logo-search-cart {

}

/*
Header 1
Menu styling
*/
.greenland-header-1 {
  border: solid 2px #efefef;
  padding: 8px 0px;
  // for mobile
  @media(max-width: 767px) {
    display: none;
  }
  //bootstrap default style overriding
  .navbar-default {
    background: transparent;
    border: none;
    margin-bottom: 0px;
    .navbar-collapse {
      padding-left: 0;
    }
  }
  .main-menu-left-side-wrapper {
    padding-left: 0;
  }
  // Main menu styling
  .greenland-mainnav {
    ul.navbar-nav {
      //all parent menu item
      > li.menu-item {
        font-weight: 700;
        > a {
          &:hover {
            color: $brand-primary;
          }
        }
        &:first-child {
          > a {
            padding-left: 0px;
          }
        }
      }
      //parent menu item when toggle
      > li.open {
        > a {
          background: transparent;
        }
        // first dropdown
        > ul.dropdown-menu {
          padding: 0;
          border-radius: 0px;
          border: none;
          top: 119% !important;
          // grand parent > parent > child
          // all li
          > li.menu-item {
            > a {
              font-size: $base-font - 1px;
              padding: 10px 10px;
              font-weight: 700;
              transition: all 0.4s ease;
              &:hover {
                background: $brand-primary;
                padding-left: 15px;
                color: $white;
              }
            }
            // Second Dropdown
            > ul.dropdown-menu {
              padding: 0;
              border-radius: 0px;
              border: none;
              > li.menu-item {
                > a {
                  font-size: $base-font - 1px;
                  padding: 10px 10px;
                  font-weight: 700;
                  transition: all 0.4s ease;
                  &:hover {
                    background: $brand-primary;
                    padding-left: 15px;
                    color: $white;
                  }
                }
              }
              > li.open {
                > a {
                  background: transparent !important;
                }
              }
            }
          }
          // active li
          > li.active {
            > a {
              background: $brand-primary !important;
            }
          }
        }
      }

      // active single menu item
      > li.active {
        > a {
          color: $brand-primary;
          background: transparent;
        }
      }
    }
  }

  // right section styling
  .main-menu-right-side-wrapper {
    padding-right: 0;
    .navbar-right {
      li {
        margin-right: 5px;
        a {
          background: $brand-primary;
          border-top-right-radius: 15px;
          border-bottom-left-radius: 15px;
          color: $white;
          font-weight: 700;
          i {
            margin-right: 5px;
          }
        }
        &:hover {
          a {
            background: $brand-primary;
          }
        }
        &:last-child {
          margin-right: 0px;
        }
      }
      @media (max-width:1199px){
        display:flex;
        li{
          a{
            padding: 10px;
          }
        }
      }
    }
  }
  @media(max-width:1199px){
    .gl-toggle-menu{
      display: flex;
      align-items:center;
    }
  }
}

/*
--------------------------
responsize of the menu
---------------------------
*/
.search-row {
  @media(max-width: 767px) {
    display: flex;
    align-items: center;
    width:100%;
    padding:0 8px;
    margin:0;
  }
}

/*
header 2
*/
.greenland-header-2 {
  @media(max-width: 767px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .h2-menu {
    display: flex;
    align-items: center;
  }
  //bootstrap default style overriding
  .navbar-default {
    background: transparent;
    border: none;
    margin-bottom: 0px;
    .navbar-collapse {
      padding-left: 0;
    }
  }
  // Main menu styling
  .greenland-mainnav {
    ul.navbar-nav {
      //all parent menu item
      > li.menu-item {
        font-weight: 700;
        > a {
          &:hover {
            color: $brand-primary;
          }
        }
        &:first-child {
          > a {
            padding-left: 0px;
          }
        }
      }
      //parent menu item when toggle
      > li.open {
        > a {
          background: transparent;
        }
        // first dropdown
        > ul.dropdown-menu {
          padding: 0;
          border-radius: 0px;
          border: none;
          top: 126% !important;
          // grand parent > parent > child
          // all li
          > li.menu-item {
            > a {
              font-size: $base-font - 1px;
              padding: 10px 10px;
              font-weight: 700;
              transition: all 0.4s ease;
              &:hover {
                background: $brand-primary;
                padding-left: 15px;
                color: $white;
              }
            }
            // Second Dropdown
            > ul.dropdown-menu {
              padding: 0;
              border-radius: 0px;
              border: none;
              > li.menu-item {
                > a {
                  font-size: $base-font - 1px;
                  padding: 10px 10px;
                  font-weight: 700;
                  transition: all 0.4s ease;
                  &:hover {
                    background: $brand-primary;
                    padding-left: 15px;
                    color: $white;
                  }
                }
              }
              > li.open {
                > a {
                  background: transparent !important;
                }
              }
            }
          }
          // active li
          > li.active {
            > a {
              background: $brand-primary !important;
            }
          }
        }
      }

      // active single menu item
      > li.active {
        > a {
          color: $brand-primary;
          background: transparent;
        }
      }
    }
  }
  // search section
  .main-menu-right-side-wrapper {
    form.custom-search {

    }
  }
}

.greenland-breadcrumb{
  &:before{
    content:'';
    width:100%;
    height:250px;
    background:rgba(0, 0, 0, 0.5);
    display: block;
    position: absolute;
  }
  .greenland-breadcrumb-wrapper{
    position: relative;
    .greenland-breadcrumb-link{
      .woocommerce-breadcrumb{
        a{
          color:$white !important;
        }
      }
    }
  }
}