@media (max-width: $breakpoint-medium-desktop) {
  .gl-title-txt {
    padding: 15% 0;
  }
}

@media (max-width: $breakpoint-small-desktop) {

  .tx-h2-min-height {
    min-height: 0;
  }
  /*shop single*/
  .display-tab {
    margin: 0 15px;
  }

  /*header*/
  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    padding: 8px 15px 7px 3px;
  }
  /*end of header*/
  /*header 2*/
  .header-2-menu {
    top: 25px;
    #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
      padding: 15px 7px;
    }
    .padding-top {
      padding: 20px 0px;
    }
  }
  /*end of header 2*/
  /*blogadon*/
  .greenland-blog-shortcode {
    margin-bottom: 35px;
  }
  /*end blogaddon*/
  /*footerr*/
  #footer {
    #gl-subscribe {
      width: 25%;
      padding: 0;
      margin: 0;
    }
    #blogpost-2 .post-wrapper .img-wrapper {
      margin: 0;
      width: 40%;
    }
  }
  .widget .s li, .widget .social-icon li {
    margin-left: 10px;
  }
  #sub-footer #footer-nav-menu li a {
    text-align: center;
  }
  /*end footer*/
}

@media (max-width: $breakpoint-mini-desktop) {
  /*shop*/
  .gl-single-shop-product {
    height: 430px;
  }
  /*bg image*/
  .gl-title-txt {
    padding: 15% 0;
  }

  /*Header*/
  .search-bar .custom-search input[type="search"] {
    width: 60%;
  }
  .padding-top {
    padding: 16px 0px;
  }
  .right-side-button {
    display: none;
  }

  /*end of header*/
  /*header 2*/
  .header-2-menu {
    .search-form {
      right: 0;
    }
    #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
      padding: 7px 4px;
    }
    .h2-menu {
      margin: 0;
      width: 100%;
    }
    .gl-h2-menu {
      padding: 0 !important;
    }

  }
  /*end of header 2*/
  /*footer*/
  #footer #blogpost-2 .post-wrapper .img-wrapper {
    margin: 0 15px 10px 0;
    width: auto;
  }
  /*end footer*/
  /*comming soon*/
  .coming-soon input#si_email {
    width: 63%;
  }
  .coming-soon #gl-subscribe {
    width: 35%;
  }
  .coming-soon .social-icon li a {
    margin-left: 2px
  }

  /*faq*/
  .faq-1 .vc_toggle_title {
    padding-bottom: 90px;
  }
}

@media (max-width: $breakpoint-tablet) {

  .greenland-space {
    height: 40px !important;
  }
  /*bg image*/
  .gl-title-txt {
    padding: 20% 0;
  }
  /*header*/
  .top-header .social-link li, .top-header .address li {
    padding: 5px 12px;
  }
  .gl-mega-menu {
    min-height: 40px;
    border: none;
    .container {
      padding: 0;
    }
    .pl-0 {
      padding-right: 0;
      width: 100%;
    }
    .gl-toggle-menu {
      width: 768px;
    }
  }
  /*end of header*/
  /*header 2*/
  .header-2-menu {
    position: relative;
    top: 0;
    .logo img {
      width: auto;
    }
    .h2-menu {
      width: auto;
      padding-right: 0;
    }
  }
  /*end of header 2*/
  /*footer*/
  #sub-footer {

    .gl-copy-right {
      text-align: center;
      padding: 0 5px 5px 0;
    }
  }
  /*end footer*/

  /*filter grid*/
  .vc_grid-styled-select select {
    min-width: 250px;
  }

}

@media (max-width: $breakpoint-mobile) {
  /*shop single*/
  .summary .yith-wcwl-add-to-wishlist {
    display: none;
  }
  .summary .compare {
    display: none;
  }
  /*blog*/
  .post-excrept .post-meta span {
    position: static;
    margin-left: 7px;
  }

  .gl-mega-menu .pl-0 {
    width: auto;
  }
  .header_bg {
    height: 300px;
  }
  .search-bar {
    padding: 0;
  }
  .search-bar .gl-logo {
    padding: 12px 0;
  }

  .gl-mega-menu {
    .gl-toggle-menu {
      width: 100%;
    }
  }

  /*contact us*/
  .greeland-float-2 .greeland-single-input {
    float: none;
    width: 100%;
    padding: 0;
  }

  /*comment*/
  .comment-list li ol {
    padding-left: 0;
  }

}

@media (max-width: $breakpoint-smobile) {

  .gl_testimonial_wrapper_twoSlide {
    .owl-nav {
      padding-top: 35px;
    }
  }

  /*comming soon*/
  .coming-soon input#si_email {
    width: 58%;
  }
  .coming-soon #gl-subscribe {
    width: 40%;
  }

}