@mixin default-border($border-color:#eee,$padding:15px) {
  border: 1px solid $border-color;
  padding: $padding;
}

@mixin outline {
  &:focus {
    outline: none;
  }
}

@mixin hover {
  &:focus, &:hover {
    background: $hover-color;
    color: $white;
    text-decoration: none;
    outline: none;
  }
}

@mixin hover-r {
  &:hover, &:focus {
    background: $white;
    color: $hover-color;
    text-decoration: none;
    cursor: pointer;
    outline: none;
  }
}

@mixin clear-both {
  content: '';
  display: block;
  clear: both;
}

@mixin active {
  background: $hover-color;
  color: $white;

}

@mixin selection($color, $background) {
  @each $prefix in $prefixes {
    ::#{$prefix}selection {
      color: $color;
      background: $background;
    }
  }
}
