//Default style
* {
  margin: 0;
  padding: 0;
}

a {
  transition: all 0.5s ease;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  color: $font-color;
  background: $white;
  line-height:26px;
}
