.service_header {
  background: #444 no-repeat right top scroll;
  background-size: cover;
  height: 450px;

  h1 {
    text-align: center;
    padding: 10% 0;
    color: #fff;
    margin: 0;
  }
}

.all-service {
  background: #81b536;
  color: #fff;
  padding: 10px 40px;
  box-sizing: border-box;
  h4 {
    font-weight: 500;
  }
}

.service-cat {
  border: 1px solid $border-color;
  margin: 25px 0;

  ul {
    list-style: none;
    margin-bottom: 0;

    li {
      padding: 25px 30px;

      a {
        color: $font-color;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          color: $hover-color;
        }

      }
    }
    /* end of li*/

    li.active {
      background: #f3f3f3;

    }
  }
}

.service-single {
  margin-bottom: 50px;
  .post-image {
    margin-top: 0;
  }
  .gallery-img {
    margin: 0px;
  }

  .entry-title {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: bold;
  }
  .post-excrept {
    text-align: left;
  }
}

.gl-service-gallery {
  margin-bottom: 45px;
}

/*
------------------------------
New Coded
------------------------------
*/
.service-featured-image {
  margin-bottom: 35px;
}