.gl-woo-share {
  position: relative;
  margin: 50px 0 20px;
  span {
    color: #444;
    font-weight: 600;
  }
  .ar-social-share {
    display: inline-block;
    a {
      width: 30px;
      height: 30px;
      line-height: 24px;
      border: 1px solid #eee;
      border-radius: 50%;
      color: #6ab42f;
      padding: 3px 5px;
      text-align: center;
      font-size: 14px;
      @include hover;
    }
  }
}