
.shop-title-attribute {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 70px;

  h2 {
    margin: 20px 0 10px;
    padding: 0;
    font-size: 36px;
    line-height: 42px;
    color: $hover-color;

  }
}

/*each box css*/

.shop-each-product {

  .gl-single-shop-product {
    border: 1px solid #eee;
    margin-bottom: 30px;
    text-align: center;
    transition: all 0.4s ease;
    a {
      text-decoration: none;
      .shop-loop-image {
        img {
          //max-width: 160px;
          width: 100%;
        }
      }
    }
    &:hover {
      border: 1px solid $hover-color;
    }

    .product-basic-info {
      border-top: 1px solid #eee;
      margin: 0 10px;
      padding: 25px 0px;

      .categories a {
        font-size: 12px;
        font-weight: 600;
        color: #797979;

      }
      .star-rating {
        text-align: center;
        display: inline-block !important;
        color: #848484 !important;

        &:before {
          font-size: 12px;
          letter-spacing: 3px;
        }
        span {
          &:before {
            font-size: 12px;
            letter-spacing: 3px;
          }
        }
      }
      .product-price {
        margin: 25px 0;
        .price {
          color: $hover-color;
          font-size: 22px;
          line-height: 30px;
          del {
            font-size: 16px;
          }
        }

      }
    }
  }
  .quick-cart {
    .woocommerce.product.compare-button a {
      margin-bottom: -2px;
    }
    .shop-attribute {
      border: 1px solid #eee;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      .compare-link,
      .shop-cart,
      .shop-wishlist {
        //border:solid 1px $brand-primary;
      }
      .compare-link {
        a.compare {
          background: transparent;
          border: none;
          padding: 0;
          line-height: 23px;
        }
      }
      div {
        a {
          text-align: center;
        }
        .yith-wcwl-add-to-wishlist {
          a {
            text-align: center;
          }
          margin: 0;
          padding-left: 5px;
        }
        .yith-wcwl-wishlistaddedbrowse.show {
          display: none !important;
        }
        .yith-wcwl-wishlistexistsbrowse {
          display: none !important;
        }
      }
      .shop-cart {
        margin: 0px 10px;
        a {
          background: $brand-primary;
          display: inline-block;
          border-radius: 0;
          border-top-right-radius: 8px;
          border-bottom-left-radius: 8px;
          color: $white !important;
          font-weight: 700 !important;
          font-size: $base-font;
          text-transform: capitalize !important;
          &:hover {
            background: $brand-primary;
            color: $white !important;
          }
        }
        .ajax_add_to_cart, .add_to_cart_button {
          transition: all 0.4s ease-in-out;
          border: none;
          color: $font-color;
          font-weight: 300;
          text-transform: uppercase;
        }
        .added_to_cart.wc-forward {
          display: none !important;
        }
      }
      .shop-wishlist {
        .yith-wcwl-add-to-wishlist {
          padding-left: 0px;
        }
        .yith-wcwl-add-button {
          position: relative;
          a {
            display: block;

            i {
              margin: 0;
            }
          }
          img {
            position: absolute;
          }
        }
      }
      .compare-link,
      .shop-wishlist {
        width: 26px;
        height: 26px;
        line-height: 26px;
      }

    }
  }

}

.onsale {
  background: $hover-color !important;
  width: 44px !important;
  top: 10px !important;
  left: 10px !important;
  z-index: 99;
}

.gl-single-shop-product{
  .onsale {
    background: $hover-color !important;
    width: 44px !important;
    top: 7px !important;
    left: 22px !important;
    z-index: 99;
  }
}


/*related product*/
.related.products {
  margin-top: 100px;

  .related {
    margin-bottom: 50px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

//whish list
.yith-wcwl-add-to-wishlist .ajax-loading {
  margin-top: 10px;
}

.compare:before {
  content: '\f0ec';
  display: inline-block;
  width: 20px;
  height: 20px;
  font-family: FontAwesome;
  color: #444;
}

.compare {
  &:hover {
    &:before {
      color: $hover-color;
    }

  }
}

//a.compare {
//  display: none;
//}

.compare-link {
  max-height: 30px;
  min-width: 35px;
  .compare {
    display: block !important;

  }
  .compare.added {
    display: block;
    max-width: 30px;
    max-height: 35px;
    overflow: hidden;
  }
}

.yith-wcwl-add-button {
  a {
    color: #444;

    &:hover {
      color: $hover-color;
    }
  }
}

.yith-wcwl-add-button.hide {
  display: block !important;
  color: $hover-color !important;;
  a {
    color: $hover-color;
  }

}

/* Shop SIngle Page */
.summary {
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  .quantity {
    margin: 0px 50px 0 0 !important;
    position: relative;
    .qty {
      padding: 12px 0px;
      border: 1px solid #eee;
      @include outline;
    }

    button {
      position: absolute;
      @include default-border($padding: 1px 10px);
      background: #fff;
      height: 23px;
      overflow: hidden;
      transition: all 0.2s;
      @include outline;
      @include hover;
    }
    /*end of button*/
    .plus {
      top: 0px;
      left: 53px;
    }
    /*end of plus*/
    .minus {
      top: 25px;
      left: 53px;
    }
    /*end of minus*/
  }
  /*end of quantity*/
  span.feedback {
    display: none;
  }
  a.compare.button,
  .yith-wcwl-add-to-wishlist {
    display: inline-block;
    display: none;
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-align: center;
  }
  a.compare {
    background: transparent;
    border: none;
    border-radius: 0px;
    padding: 0;
    line-height: 23px;
  }
  .yith-wcwl-add-to-wishlist {
    display: inline-block;
    display: none;
    position: relative;
    margin-top: 0px;
    a {
      display: block;
      i {
        margin: 0;
      }
    }
    img {
      position: absolute;
    }

  }

}

/*end of summery*/

.single_add_to_cart_button {
  background-color: rgba(255, 0, 0, 0) !important;
  color: #444 !important;
  font-weight: 500 !important;
  border: 1px solid #eee !important;
  padding: 17px 30px !important;

  &:hover {
    background: $hover-color !important;
    color: #fff !important;
  }
}

.single-product-big-image {
  .woocommerce-main-image {
    img {
      @include default-border($padding: 20px 80px);
    }

  }
  /*end main-image*/

  .thumbnails {
    a {
      img {
        @include default-border($padding: 5px);

      }
    }

  }
}

table.variations {
  margin: 25px 0;
  label {
    color: #6ab42f;
    font-size: 21px;
    text-transform: capitalize;
    padding-top: 8px;

  }
}

/*tab css*/
ul.tabs.wc-tabs {
  //min-height: 250px;
  //background: #fafafb;
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: none !important;
  //border:1px solid #eee!important;
  //border-bottom:none!important;

  li {
    display: block !important;
    width: 100%;
    margin: 0 !important;
    //padding:15px 15px!important;
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px solid #eee !important;
    background: #fafafb !important;

    a {
      text-align: left !important;
      display: block !important;

    }
  }
  .active {
    background: $hover-color !important;
    color: #fff !important;
    border: 2px solid $hover-color !important;
  }
}

.display-tab {
  background: #fafafb;
  padding: 12px 25px 41px;
  border: 1px solid #eee;
}

.panel {
  background: #fafafb;
  border: none;
  box-shadow: none;

  .product-title {
    margin-bottom: 25px;
  }

}

.star-rating span {
  color: $hover-color;
}

p.stars span a:focus, p.stars span a:hover, p.stars span a {
  color: #6ab42f;
}

.woocommerce-result-count {
  color: #444;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 59px;
  display: block;
}

#reviews {
  #review_form {
    margin-top: 25px;
  }
  #comments {
    margin-top: 30px;
  }
  .product-title {
    font-size: 29px;
    margin-bottom: 25px !important;
    text-transform: uppercase;
  }
  form#commentform {
    label {
      display: block;
    }
    p {
      margin-bottom: 25px !important;

    }

    input, textarea {
      padding: 10px;
      &:focus {
        outline: none;
      }
    }
  }
}

.summary {
  .product-title {
    font-size: 30px;
  }
}

.shop-cat {
  color: #444;
  font-weight: 600;
  margin: 3px;
  display: inline-block;
}

.woocommerce-review-link {
  color: #444;
}

.price {
  margin-bottom: 22px;
  del {
    font-size: 16px;
  }
  ins {
    font-size: 25px;
  }
}

form.cart {
  margin: 50px 0px;
}

/*checkout page*/

.woocommerce-checkout {
  input, textarea, .select2-container .select2-choice {
    padding: 7px;
    border: 1px solid $border-color;
  }
}

.shop-loop-image img {
  transition: all 522.169ms ease-in-out 0ms;
}

.shop-loop-image:hover img {
  transform: scale(1.2);
}

.shop-loop-image {
  overflow: hidden;
}