/*
Recoded
.gl_testimonial_wrapper_twoSlide
.greenland-testimonial-v2
.greenland-blog-shortcode
.pricing-plan
.tx-counter
.member
.greenland-service-shortcode
.socials-icon
Greenland default Classes
*/

/*
---------------------------------------------
Testimonial Shortcode and VC Addon
.gl_testimonial_wrapper_twoSlide
.greenland-testimonial-v2
---------------------------------------------
*/
.gl_testimonial_wrapper_twoSlide {
  .team-body {
    @media(max-width: 991px) {
      text-align: center;
      padding-right: 0px !important;
    }
    .gl-testimonial-title {
      margin-bottom: 15px;
    }
    .at-desc {
      p {
        font-size: $base-font;
        font-style: italic;
        padding-right: 38px;
        @media(max-width: 991px) {
          padding-right: 0px;

        }
      }

    }
  }
  .testimonial_author_info {
    .gl-client-name {
      margin-bottom: 2px;
      margin-top: 5px;
    }
    p.client-designation {
      font-size: $base-font - 2px;
      margin-bottom: 0px;
      line-height: 1.5;
    }
    p.client-rating {
      margin: 0;
    }
    i {
      letter-spacing: 0;
    }
  }
  .author_img {
    img {
      border-top-right-radius: 18px;
      border-bottom-left-radius: 18px;
    }
    @media(max-width: 991px) {
      width: 70%;
      margin: 0 auto;
    }
  }
  .owl-nav {
    .owl-carousel-left,
    .owl-carousel-right {
      border-radius: 0px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 5px;
      background: $brand-primary;
      border: none;
      color: white;
      transition: all 0.4s ease;
      margin: 0px 5px;
    }
  }
  .author-info {
    float: right;
    @media(max-width: 991px) {
      float: none;
      text-align: center;
    }
    .testimonial_author_info {
      @media(max-width: 991px) {
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }
}

.greenland-testimonial-v2 {
  .gl_testimonial_v2 { // ul
    .gl_testimonial_wrapper_v2 { // li
      list-style-type: none;
      .client-image-v2 {
        @media(max-width: 767px) {
          text-align: center;
        }
        .client-image-wrapper {
          display: inline-block;
          border-top-right-radius: 18px;
          border-bottom-left-radius: 18px;
          overflow: hidden;
          img {
            width: 100%;
            height: 188px;
            overflow: hidden;
          }
        }
      }
      .client-content-v2 {
        .client-content-wrapper {
          border-top-right-radius: 18px;
          border-bottom-left-radius: 18px;
          padding: 30px 50px;
          text-align: center;
        }

      }
    }

    .owl-dots {
      text-align: center;
      margin-top: 20px;
      .owl-dot {
        display: inline-block;
        margin: 0px 3px;
        span {
          display: inline-block;
          width: 10px;
          height: 10px;
          background: transparent;
          border: solid 1px $brand-primary;
          border-radius: 50%;
        }
      }
      .owl-dot.active {
        span {
          background: $brand-primary;
        }
      }

    }
  }
}

/*
-------------------------------
Blog Shortcode and VC Addon
greenland-blog-shortcode
--------------------------------
*/
.greenland-blog-shortcode {
  .blog-image {
    overflow: hidden;
    height: 240px;
    transition: all 0.4s ease;
    position: relative;
    &:before {
      transition: all 0.4s ease;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, #6ab42f 0%, #56B4D3 100%);
      opacity: 0;
    }
    a {
      display: inline-block;
      img {
        transition: all 0.4s ease-in;
        transform: scale(1) rotate(0deg);
      }
    }
    &:hover {
      &:before {
        opacity: 0.5;
        z-index: 9;
      }
      a {
        img {
          transform: scale(1.4) rotate(10deg);
        }
      }
    }
  }
  .blog-content {
    padding-top: 25px;
    .blog-title {
      a {
        &:hover {
          color: $brand-primary;
        }
      }
    }
    .blog-description {
      margin-bottom: 30px;
      font-size: $base-font + 1px;
    }
    .btn-read-more {
      a {
        color: $brand-primary;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0;
      }
    }
  }
}

/*
-------------------------------
Pricing Plan Shortcode and VC Addon
.pricing-plan
--------------------------------
*/
.pricing-plan {
  margin-right: 10px;
  background: $white;
  box-shadow: 0px 0px 12px -5px $black-primary;
  border-top-right-radius: 18px;
  .pricing-header {
    background: $black-primary;
    color: $white;
    text-align: center;
    display: inline-block;
    width: 100%;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    padding: 48px 0px 48px;
    .header-content {
      sup {
        top: -15px;
        font-size: $base-font * 2;
        left: 4px;
      }
      h1 {
        margin: 0;
        display: inline-block;
      }
    }
    h4 {
      margin: 0;
    }

  }
  .pricing-body {
    ul {
      margin: 0;
      padding: 0;
      padding: 15px 0px;
      li {
        list-style-type: none;
        text-align: center;
        padding: 12px 0px;
      }
    }
  }
  .pricing-footer {
    text-align: center;
    a {
      background: $black-primary;
      text-align: center;
      color: $white;
      display: inline-block;
      padding: 10px 0px;
      width: 93%;
      margin: 0 auto;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 15px;
      margin-bottom: 10px;
    }
  }
}

.pricing-plan.active {
  .pricing-header {
    background: $brand-primary;
  }
  .pricing-footer {
    a {
      background: $brand-primary;
    }
  }
}

/*
-------------------------------
counter Shortcode and VC Addon
.tx-counter
--------------------------------
*/
.tx-counter {
  text-align: center;
}

/*
-------------------------------
Shortinfo Shortcode and VC Addon
.short-info
--------------------------------
*/
.short-info {
  text-align: center;
  .image-content {
    height: 100px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .info-text {
    text-align: center;
    padding: 30px 20px;
    position: relative;
    .info-icon {
      position: absolute;
      top: -17px;
      left: 46%;
      display: inline-block;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: $brand-primary;
      color: $white;
      font-size: $base-font + 1px;
      line-height: 35px;
    }
    p {
      margin: 0;
      line-height: inherit;
    }
  }

}

/*
-------------------------------
Shortinfo Shortcode and VC Addon
.short-info
--------------------------------
*/
.member {
  transition: all 0.4s ease;

  .member-img {
    position: relative;
    text-align: center;
    transition: all 0.4s ease;
    &:before {
      transition: all 0.4s ease;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(-45deg, #6ab42f 0%, #56B4D3 100%);
      opacity: 0;
    }

    .member-social-contact {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      transition: all 0.4s ease;
      opacity: 0;
      a {
        display: inline-block;
        background: $brand-primary;
        color: $white;
        padding: 4px 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: $base-font + 1px;
      }
    }
  }

  &:hover {
    .member-img {
      position: relative;
      &:before {
        opacity: 0.6;
      }
      .member-social-contact {
        opacity: 1;
        bottom: 15px;
      }
    }
  }
}

/*
-------------------------------
Social Icon Shortcode and VC Addon
.socials-icon
--------------------------------
*/
.socials-icon {
  .social-icon {
    li {
      a {
        font-size: $base-font - 3px !important;
        width: 25px;
        height: 25px;
        line-height: 20px !important;
        padding: 2px 2px !important;
      }
    }
  }
}

/*
-------------------------------
Service Shortcode and VC Addon
.greenland-service-shortcode
--------------------------------
*/
.greenland-service-shortcode {
  .service-image {
    height: 240px;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
    &:before {
      transition: all 0.4s ease;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, #6ab42f 0%, #56B4D3 100%);
      opacity: 0;
    }
    a {
      display: inline-block;
      img {
        transition: all 0.4s ease-in;
        transform: scale(1) rotate(0deg);
      }
    }
    &:hover {
      &:before {
        opacity: 0.5;
        z-index: 9;
      }
      a {
        img {
          transform: scale(1.4) rotate(10deg);
        }
      }
    }
  }
}

/*
-------------------------------------
Greenland default Classes
.bg-overlay-black
.greenland-masonay-v2
.contact-form-with-video
.working-hour
---------------------------------------
*/
.bg-overlay-black {
  position: relative;
  background-attachment: fixed;
  color: white;
  text-align: center;
  &:before {
    position: absolute;
    content: '' !important;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(-45deg, #6ab42f 0%, #56B4D3 100%);
    display: block !important;
    opacity: 0.85;
  }
  h4 {
    display: inline-block;
    padding: 15px 25px;
    border: dashed 2px white;
    margin-top: 20px;
  }
}

.greenland-masonay-v2 {
  .vc_grid-filter { // ul
    margin-bottom: 50px;
    .vc_grid-filter-item { //li
      border-radius: 0px !important;
      border-top-right-radius: 10px !important;
      border-bottom-left-radius: 10px !important;
      padding: 7px 17px !important;
      margin: 0px 8px !important;
      background: #f5f5f5;
      transition: all 0.4s ease;
      &:hover {
        background: $brand-primary !important;
        span {
          color: white !important;
        }
      }
    }
    .vc_active.vc_grid-filter-item {
      background: $brand-primary !important;
      span {
        color: white !important;
      }

    }
  }
  .vc_grid {
    @media(min-width: 992px) {
      height: 318px;
    }
  }
}

.contact-form-with-video {

  @media(min-width: 768px) {
    display: flex;
    align-items: center;
  }
  .video-popup {
    height: 710px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h2 {
    color: $white;
  }
  .wpcf7-form {
    .row {
      margin: 28px 0px;
      .col-md-6 {
        @media(max-width: 767px) {
          margin-bottom: 20px;
        }
      }

      input {
        height: 50px !important;
      }
      input, textarea {
        border-radius: 0px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          font-size: $base-font + 2px;
          font-weight: 300;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          font-size: $base-font + 2px;
          font-weight: 300;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          font-size: $base-font + 2px;
          font-weight: 300;
        }
        &:-moz-placeholder { /* Firefox 18- */
          font-size: $base-font + 2px;
          font-weight: 300;
        }
      }
      input[type="submit"] {
        background: $white;
        box-shadow: none;
        drop-shadow: none;
        padding: 10px 30px;
        border: none;
        color: $black-primary;
        text-transform: uppercase;
        font-size: $base-font + 2px;
      }
    }
  }
}

.cf-contact-us {
  .wpcf7-form {
    .row {
      margin: 28px 0px;
      input {
        height: 50px !important;
      }
      input, textarea {
        border-radius: 0px;
        border-color: $brand-primary;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          font-size: $base-font + 2px;
          font-weight: 300;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          font-size: $base-font + 2px;
          font-weight: 300;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          font-size: $base-font + 2px;
          font-weight: 300;
        }
        &:-moz-placeholder { /* Firefox 18- */
          font-size: $base-font + 2px;
          font-weight: 300;
        }
      }
      input[type="submit"] {
        background: $brand-primary;
        box-shadow: none;
        drop-shadow: none;
        padding: 10px 30px;
        border: none;
        color: $white;
        text-transform: uppercase;
        font-size: $base-font + 2px;
      }
    }
  }
}

.working-hour {
  p {
    margin: 0;
  }
}