//.sidebar{
//
//  ul,ol{
//    list-style: none;
//  }
//
//  .widget{
//    margin: 25px 0px;
//    background: #fff;
//    box-shadow: -1px 2px 3px #ccc;
//    padding: 10px 15px;
//    max-width: 100%;
//
//
//  }
//
//  .widget_text{
//    img{
//      max-width: 100%;
//    }
//    overflow: hidden;
//    text-align: justify;
//  }
//}