$white: #fff;
$font-color: #444;
$hover-color: #6ab42f;
$base-font: 13px;
$border-color: #eee;
$prefixes: ("", "-moz-", "-webkit-", "-o-", "-ms- ");
$breakpoint-smobile: 320px;
$breakpoint-mobile: 767px;
$breakpoint-tablet: 768px;
$breakpoint-mini-desktop: 992px;
$breakpoint-small-desktop: 1169px;
$breakpoint-medium-desktop: 1366px;
$breakpoint-big-desktop: 1600px;
$breakpoint-extra-large-desktop: 1920px;

//social colors
$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$vimeo: #aad450;
$tumblr: #32506d;
$instagram: #517fa4;
$flickr: #ff0084;
$dribbble: #ea4c89;
$quora: #a82400;
$foursquare: #0072b1;
$forrst: #5B9A68;
$vk: #45668e;
$wordpress: #21759b;
$stumbleupon: #EB4823;
$yahoo: #7B0099;
$blogger: #fb8f3d;
$soundcloud: #ff3a00;
$skype: #12A5F4;

// variables recoded
$brand-primary: #6ab42f;
$black-primary: #3a3a3a;
$title-color: #333333;