$widget_text_color: #343434;
$widget_bg_color: #eee;
$link-font-size: 14px;
.widget {
  margin: 0 0 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.6rem;
  padding-bottom: 20px;
  overflow: hidden;

  ul {
    li {
      padding: 0;
      border-bottom: 1px solid #eee;
      width: 100%;
      font-size:13px;
      &:last-child {
        border-bottom: none;
      }

      &:hover {
        text-decoration: none;
        color: $hover-color;
        cursor: pointer;
        a {
          text-decoration: none;
          color: $hover-color;
        }

      }
      a {
        color: $widget_text_color;
        font-size: 13px;
        line-height: 35px;
        font-weight: 300;
        transition: all 0.4s ease-in-out;
        display: block;

        &:hover {
          text-decoration: none;
          color: $hover-color;
          margin-left: 5px;

        }
        &:before {
          content: "\f105";
          padding-right: 15px;
          font-family: FontAwesome;
          display: inline-block;

        }

      }

      ul {
        display: none;
      }
    }
  }

}

.widget-title {
  line-height: 24px;
  font-size: 22px;
  color: #343434;
  font-weight: 600;
  padding: 18px 0;
}

.widget a {
  font-weight: 700;
  color: #444;
}

.widget ul,
.widget ol {
  padding: 0;
  margin: -1em 0 0;
  list-style-type: none;
}

.widget li {
  padding: 1em 0 0;
}

.widget li ul,
.widget li ol {
  margin-top: 0;
}

.widget li li {
  margin-left: 1.5em;
}

.widget_nav_menu ul {
  padding: 10px 0 0;
}

.widget_nav_menu a,
.widget_nav_menu li,
.widget_rss li {
  margin-bottom: .5em;
}

.widget_rss .rss-date,
.widget_rss cite {
  display: block;
  font-size: 85%;
}

/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%;
  -webkit-appearance: none;
}

/* Search widget */
.widget_search .search-submit {
  display: none;
}

/*text widget*/
.widget_text {
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
  color: #616161;
  img {
    display: block;
  }
}

/*widget search*/
.widget_search {
  form {
    background: #eee;
    height: 60px;
    width: 100%;
    padding: 20px 20px;
    button, input[type=search] {
      border: none;
      outline: none;
      box-shadow: none;
      background: #eee;
      color: #343434;
      padding: 0;

    }
    input[type=search] {
      width: 90%;
      &::-webkit-input-placeholder {
        color: #343434;

      }
    }

  }

}

/*widget calender*/
#wp-calendar {
  border-collapse: collapse;
  border: 1px solid #eee;
  width: 100%;
  border-top: none;
}

#wp-calendar td, #wp-calendar th {
  text-align: center;
  padding: 5px 0px;
}

#wp-calendar caption {
  color: #343434;
  padding: 0;
  line-height: 39px;
  font-weight: 500;
}

#wp-calendar thead, #wp-calendar tfoot {
  line-height: 33px;
  background: #eee;
}

#wp-calendar tbody {
  line-height: 33px;
}

#wp-calendar #prev, #wp-calendar #next {
  padding: 0 10px;
  background: #eee;
}

#wp-calendar #prev {
  text-align: left;
}

#wp-calendar #next {
  text-align: right;
}

#wp-calendar tbody td:hover {
  background: $hover-color;
  color: #fff !important;
}

#wp-calendar tbody td:hover a {
  color: #fff !important;
  text-decoration: none;
}

#today {
  color: $hover-color;
  font-weight: bold;
}

#wp-calendar tbody .pad, #wp-calendar tbody .pad:hover {
  background: none;
}

//*widget rss*/
.widget_rss .widget-title img {
  display: none;
}

.widget_rss li {
  margin-bottom: 0.625rem;

}

.widget_rss li a {
  display: block;
  font-size: 16px;
  font-weight: bold;
  &:before {
    content: '' !important;
    padding: 0 !important;
  }
}

.widget_rss li .rss-date {
  display: inline-block;
  margin-right: 0.5rem;
}

.widget_rss li .rss-date, .widget_rss li cite {
  color: #676464;
  font-size: 13px;
  padding-top: 20px;

}

.widget_rss li .rssSummary {
  font-size: 0.875rem;
  display: inline;
}

/*recent comments*/
.widget_recent_comments {
  ul {
    li {
      a {
        display: inline-block;
        &:before {
          content: '' !important;
          padding: 0 !important;
        }
      }
    }
  }
  .recentcomments{
    span{
      font-weight:bold;
    }
  }

}

/*tag cloud*/
.widget_tag_cloud {
  width: 100%;
  a {
    display: inline-block;
    border: 1px solid #eee;
    padding: 10px;
    margin: 5px 2px;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    font-size: 100% !important;
    font-weight: 300;
    &:hover {
      background: $hover-color;
      color: #fff;
    }
  }
}

/*widget rss*/
.widget_rss {
  ul {

  }
  li {
    border-bottom: none !important;
    a {

      &:hover {
        margin-left: 0 !important;
      }
      &:before {
        content: '' !important;
        padding: 0 !important;
      }
    }
    .rsswidget {
      font-weight: 700 !important;
      font-size: 13px !important;
      line-height: 24px !important;
      padding: 20px 0;
    }
    .rssSummary {
      font-weight: 300;
      font-size: 13px;
      line-height: 24px;
      color: #616161;

    }

  }
}

/*widget archrive*/
.widget_categories, .widget_archive {
  ul {
    li {
      padding: 0;
      border-bottom: 1px solid #eee;
      font-size: 12px;
      font-weight:300;

      &:last-child {
        border-bottom: none;
      }
      a {
        color: $widget_text_color;
        font-size: 13px;
        line-height: 35px;
        font-weight: 300;
        transition: all 0.4s ease-in-out;
        display: inline-block;
        &:hover {
          text-decoration: none;
          color: $hover-color;

        }

      }

    }
  }
}

select {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='#969696' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: right 20px top 11px;
  background-size: 16px 18px;
  outline: 0;
  border: none;
  padding: 7px 12px;
  width: 100%;
  //height: 60px;
  font-size: 15px;
  text-align: center;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: $widget_text_color;
  font-weight:bold;
}

.widget_categories, .widget_archive {
  label {
    display: none;
  }

}

.widget_blogpost {
  img {
    transition: all 0.4s ease;

    &:hover {
      transform: scale(1.2, 1.2);

    }
  }
  .post-wrapper {

    margin-bottom: 25px;
    border-bottom: 1px solid #eee;
    padding-bottom: 25px;

    .img-wrapper {
      float: left;
      margin-right: 15PX;
      overflow: hidden;
      padding: 5px
    }
    .title-time {
      float: left;

      max-width: 63%;

      h4 {
        margin-top: -2px;
        margin-bottom: 8px;
        line-height: 12px;
        a {
          font-family: inherit;
          font-size: $link-font-size;
          color: $widget_text_color;
          font-weight: 300;
          line-height: 18px;

          &:hover {
            color: $hover-color;
            text-decoration: none;
          }
        }

      }
      .post-time {
        font-size: 12px;
        line-height: 9px;
        color: #949494;
      }

    }

    &:after, &:before {
      @include clear-both;
    }

  }
}

#footer {
  .widget-title {
    margin-bottom: 25px;
    word-spacing: 1px;
    color: $white;

    &:hover {
      color: $hover-color;
      cursor: pointer;
    }
  }
  #blogpost-2 {
    div {
      &:nth-last-child(2) {
        border-bottom: none;
        margin-bottom: 0px;
      }
    }
    .post-wrapper {

      margin-bottom: 20px;
      border-bottom: 1px solid #343434;
      padding-bottom: 5px;

      .img-wrapper {
        float: left;
        margin-right: 15PX;
        border-color: #c7c7c7;
        margin-bottom: 10px;

      }
      .title-time {
        float: left;

        max-width: 59%;

        h4 {
          margin-top: -2px;
          margin-bottom: 8px;
          line-height: 24px;
          a {
            font-family: inherit;
            font-size: 14px;
            color: #fff;
            font-weight: 100;

            &:hover {
              color: $hover-color;
              text-decoration: none;
            }
          }

        }
        .post-time {
          font-size: 12px;
          line-height: 9px;
          color: #fff;
        }

      }

      &:after, &:before {
        @include clear-both;
      }

    }
    .w-subscription {
      a {
        color: $white;
        i {
          color: $hover-color;
        }
        &:hover {
          text-decoration: none;
          color: $hover-color;
        }
      }

    }

  }
  ul, ol {
    list-style: none;
  }

  //menu widget style

  ul.menu {

    @include column-count();
    li {
      margin: 10px 0;
      border-bottom: 0;
      a {
        font-size: $link-font-size;
        color: #fff;
        line-height: 24px;

        &:hover {
          color: $hover-color;
          text-decoration: none;
        }
        &:before {
          content: '';
          padding: 0;
        }

      }

      &:first-child {
        margin-top: 0;
      }

      &:before {
        font-family: 'FontAwesome';
        content: "\f101";
        display: block;
        margin-right: 7px;
        float: left;
        color: $hover-color;
      }
    }
  }

  //.textwidget

  .widget {

    color: #fff;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.6px;

    .footer-social {
      margin: 15px 0;
      a {
        font-size: 13px;
        color: #c7c7c7;
        display: inline-block;
        border: 1px solid;
        border-radius: 50%;
        width: 27px;
        height: 27px;
        text-align: center;
        padding-top: 2px;
        margin-left: 9px;

        &:hover {
          @include hover;
          border-color: $hover-color;
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }
    // extra button
    .s, .social-icon {
      margin: 0;
      li {
        float: left;
        margin-left: 12px;
        border-bottom: 0;
        width: inherit;
        padding-top: 20px;
        &:first-child {
          margin-left: 0;
        }

        a {
          font-size: 14px;
          color: #fff;
          display: inline-block;
          border: 1px solid;
          border-radius: 14px;
          padding: 2px 14px 0;
          text-align: center;
          line-height: 24px;

          &:hover {
            @include hover;
            border-color: $hover-color;
            margin-left: 0 !important;
          }
          &:before {
            content: '';
            padding: 0;
          }

        }

      }

    }

  }
  //end of widget

}

.socials-icon {
  li {
    a {

    }
  }
}

.socials-icon {
  &:after, &:before {
    @include clear-both;
  }
}

.center-widget {

  .widget_text {
    .widget-title {
      text-align: center;
    }
    text-align: center;
  }

}

//subscriber
#gl-subscribe, input#si_email {
  background: #4a4a4a;
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 10px;
  width: 75%;
  float: left;
  height: 38px;
  color: $white;
  &::-webkit-input-placeholder {
    font-size: 12px;
  }

}

#gl-subscribe {
  //margin-top:20px;
  width: 22%;
  background: $hover-color;
  color: $white;
  margin-left: 3px;
  @include hover-r;
}

.gl-message {
  font-size: 12px;
  margin-top: 0;
  line-height: 1;
}

.post-categories {
  li {
    a {
      color: #c7c7c7 !important;
      &:before {
        content: '' !important;
        padding-right: 0 !important;
      }
    }
  }
}

/*end of post-categories*/